body{
	background-image: url(../img/fondodepantalla.jpg);
	height:100%;
	padding:0px;
	margin:0px;
}
.marcadores{
	position:relative;
    border-radius: 25px;
    border: 3px solid transparent;
    padding: 20%; 
    height: 100%;
	width:70%;
	top:1%;
	font-family: courier;
	font-size:1vw;
	color: white
	}
#titulo {
	text-align:center;
	border-radius:25px;
	position: absolute;
    top: 10%;
    left: 0%;
    width: 90%;
    height: 10%;
    border: 2px solid white;  
	
}
#velocidad {
	text-align:center;
	border-radius:25px;
	position: absolute;
    top: 30%;
    left: 0%;
    width: 90%;
    height: 10%;
    border: 2px solid white;
}
#fuel {
	text-align:center;
	border-radius:25px;
	position: absolute;
    top: 50%;
    left: 0%;
    width: 90%;
    height: 10%;
    border: 2px solid white;
}
#altura {
	text-align:center;
	border-radius:25px;
	position: absolute;
    top: 70%;
    left: 0%;
    width: 90%;
    height: 10%;
    border: 2px solid white; 
}
#vel {
	display:none;
}
#alt {
	display:none;
}
.centro{
	text-align:center;
	position:fixed;
	width:100%;
	height:20%;
	
	}
#img_nave{
	height:20%
}
.izquierda,.centro,.derecha{
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;
	}
#subir{
	position:fixed;
	right:0%;
	top:5%;
	
}
#boton_subir{
	display:block;
	width:30%;
	height:10%;
	float:right;
}
#menu{
	border-radius: 20px;
    border: 2px solid white;
	width:100px;
	position:absolute;
	right:0%;
	top:25%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: white;
	color:black;
}
.luna{
	position:fixed;
	bottom:0px;
	height:30%;
	margin:0 auto;
	}
#img_luna{
	height:100%;
	width:100%;
	position:fixed;
}

